.jumbotron {
	background-color: #5A2328;
	h2 {
		color: #F3ECE6;
		font-weight: bold;
	}
}

.navbar-default { 
	background-color: #F3ECE6;
}

.navbar-brand {
	color: #4A4A4A;
}

.navbar-link {
	color: #4A4A4A;
}